<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furenqiang.system.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.furenqiang.system.entity.SysMenu">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="index" property="index" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="INTEGER" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="creatorId" property="creatorId" jdbcType="INTEGER" />
        <result column="creatorName" property="creatorName" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="INTEGER" />
        <result column="level" property="level" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="BaseResultTreeVoMap" type="com.furenqiang.system.vo.SysMenuTreeVO">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="index" property="index" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="INTEGER" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="creatorId" property="creatorId" jdbcType="INTEGER" />
        <result column="creatorName" property="creatorName" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="INTEGER" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="hasChild" property="hasChild" jdbcType="INTEGER" />
        <result column="deleted" property="deleted" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="MenuIndexAndCodeMap" type="com.furenqiang.system.vo.MenuIndexAndCode">
        <result column="newIndex" property="newIndex" jdbcType="VARCHAR" />
        <result column="newCode" property="newCode" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
		id,title,index,icon,path,name,code,createTime,creatorId,creatorName,parentId,level,deleted
	</sql>

    <select id="getMenuList" resultMap="BaseResultTreeVoMap">
        SELECT
            id,
            title,
            sm.`index`,
            icon,
            path,
            id AS name,
            code,
            createTime,
            creatorId,
            creatorName,
            parentId,
            level,
            ( SELECT CASE WHEN count(*)> 0 THEN 1 ELSE 0 END FROM sys_menu WHERE sm.deleted=0 AND parentId = sm.id ) AS hasChild,
            deleted
        FROM
            sys_menu AS sm
        WHERE
            sm.deleted=0
        ORDER BY
            sm.id
    </select>

    <select id="getMenuChildrenById" resultMap="BaseResultMap">
        SELECT
            id,
            title,
            sm.`index`,
            icon,
            path,
            id AS name,
            code,
            createTime,
            creatorId,
            creatorName,
            parentId,
            LEVEL,
            deleted
        FROM
            sys_menu AS sm
        WHERE
            sm.deleted=0
        <if test="id != null and id != ''">
            AND parentId = #{id,jdbcType=INTEGER}
        </if>
    </select>

    <update id="updateMenuById" parameterType="com.furenqiang.system.entity.SysMenu">
        update sys_menu
        <set>
            <if test="title != null and title != ''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="path != null and path != ''">
                path = #{path,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="addMenu" parameterType="com.furenqiang.system.entity.SysMenu" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="index != null and index != ''">
                `index`,
            </if>
            <if test="icon != null and icon != ''">
                icon,
            </if>
            <if test="path != null and path != ''">
                path,
            </if>
            <if test="code != null and code != ''">
                code,
            </if>
            <if test="creatorId != null and creatorId != ''">
                creatorId,
            </if>
            <if test="creatorName != null and creatorName != ''">
                creatorName,
            </if>
            <if test="parentId != null and parentId != ''">
                parentId,
            </if>
            <if test="level != null and level != ''">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="index != null and index != ''">
                #{index,jdbcType=VARCHAR},
            </if>
            <if test="icon != null and icon != ''">
                #{icon,jdbcType=INTEGER},
            </if>
            <if test="path != null and path != ''">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="code != null and code != ''">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null and creatorId != ''">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null and creatorName != ''">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null and parentId != ''">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="level != null and level != ''">
                #{level,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getIndexByParentId" parameterType="java.lang.Integer" resultMap="MenuIndexAndCodeMap">
        SELECT
            CONCAT( t.pCode, '-', t.`CODE` + 1 ) AS newIndex,
            t.CODE + 1 AS newCode
        FROM
            (
            SELECT
            CASE
                WHEN
                    MAX( code ) IS NULL THEN
                        0 ELSE MAX( code )
                        END AS code,
                    ( SELECT CODE FROM sys_menu WHERE id = #{parentId,jdbcType=INTEGER} ) AS pCode
                FROM
                    sys_menu
                WHERE
                    parentId = #{parentId,jdbcType=INTEGER}
                AND deleted = 0
            ) t
    </select>

    <select id="getNewIndex" resultType="java.lang.Integer">
        SELECT
            MAX( CODE )+1 AS CODE
        FROM
            sys_menu
        WHERE
            parentId = 0
        AND deleted = 0
    </select>

</mapper>