<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furenqiang.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.furenqiang.system.entity.SysUser">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="creatTime" property="creatTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
		id,username,password,status,creatTime
	</sql>

    <insert id="registerUser" parameterType="com.furenqiang.system.entity.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getUserListByParams" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        sys_user su
        WHERE
        su.STATUS = 1
        <if test="username != null">
            and c.username like concat(concat('%',#{username,jdbcType=VARCHAR}),'%')
        </if>
        <if test="creatorName != null">
            and c.creatorName like concat(concat('%',#{creatorName,jdbcType=VARCHAR}),'%')
        </if>
    </select>

    <update id="changeStatus" parameterType="com.furenqiang.system.entity.SysUser">
        update sys_user
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateUser" parameterType="com.furenqiang.system.entity.SysUser">
        update sys_user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--<select id="getUserListByParams" resultMap="BaseResultMap">-->
    <!--SELECT-->
    <!--su.username,-->
    <!--su.PASSWORD,-->
    <!--group_concat(sr.rolename) AS rolename,-->
    <!--group_concat(sr.roledesc) AS roledesc-->
    <!--FROM-->
    <!--sys_user su,-->
    <!--sys_user_role sur,-->
    <!--sys_role sr-->
    <!--WHERE-->
    <!--su.STATUS = 1-->
    <!--<if test="status != null">-->
    <!--and c.status=#{status,jdbcType=DECIMAL}-->
    <!--</if>-->
    <!--AND su.id = sur.uid-->
    <!--AND sur.rid = sr.id-->
    <!--GROUP BY username-->
    <!--</select>-->

</mapper>