<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furenqiang.system.mapper.UploadFileMapper">
    <resultMap id="BaseResultMap" type="com.furenqiang.system.entity.UploadFile">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="parse_file" property="parseFile" jdbcType="VARCHAR" />
        <result column="original_name" property="originalName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="deleted" property="deleted" jdbcType="INTEGER" />
        <result column="unzip_folder" property="unzipFolder" jdbcType="INTEGER" />
        <result column="file_num" property="fileNum" jdbcType="INTEGER" />
        <result column="size" property="size" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
		id,name,path,parse_file,original_name,create_time,deleted,file_num,size
	</sql>

    <select id="getFileList" resultType="com.furenqiang.system.entity.UploadFile">
        select id,name,path,parse_file as parseFile,original_name as originalName,create_time as createTime,file_num as fileNum,size from sys_upload_file
        where
        deleted=0
    </select>

    <insert id="save" parameterType="com.furenqiang.system.entity.UploadFile" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_upload_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="path != null and path != ''">
                path,
            </if>
            <if test="parseFile != null and parseFile != ''">
                parse_file,
            </if>
            <if test="originalName != null and originalName != ''">
                original_name,
            </if>
            <if test="unzipFolder != null and unzipFolder != ''">
                unzip_folder,
            </if>
            <if test="fileNum != null and fileNum != ''">
                file_num,
            </if>
            <if test="size != null and size != ''">
                size,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="path != null and path != ''">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="parseFile != null and parseFile != ''">
                #{parseFile,jdbcType=VARCHAR},
            </if>
            <if test="originalName != null and originalName != ''">
                #{originalName,jdbcType=VARCHAR},
            </if>
            <if test="unzipFolder != null and unzipFolder != ''">
                #{unzipFolder,jdbcType=VARCHAR},
            </if>
            <if test="fileNum != null and fileNum != ''">
                #{fileNum,jdbcType=VARCHAR},
            </if>
            <if test="size != null and size != ''">
                #{size,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getFileById" resultType="com.furenqiang.system.entity.UploadFile">
        select id,name,path,parse_file as parseFile,original_name as originalName,create_time as createTime,unzip_folder as unzipFolder,file_num as fileNum,size
        from sys_upload_file where
        id=#{id,jdbcType=INTEGER}
    </select>

</mapper>